.front-indicator {
    width: 90%;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    color: #212121;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

.booking-details {
    float: right;
    width: 450px;
    text-align: left;
    margin-left: 35px;
    font-size: 12px;
    position: relative;
    height: 450px;
    padding-left: 50px;
    margin-bottom: 50px;
}

.seatSelectBox {
    width: 330px;
    float: left;
}

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 14px;
}

div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 35px;
    line-height: 35px;

}

div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}

div.seatCharts-row {
    height: 55px;
}

div.seatCharts-seat.available {
    background-color: #B9DEA0;

}

div.seatCharts-seat.available.first-class {
    /* 	background: url(vip.png); */
    background-color: #3a78c3;
}

div.seatCharts-seat.focused {
    background-color: #76B474;
}

div.seatCharts-seat.selected {
    background-color: #E6CAC4;
}

div.seatCharts-seat.unavailable {
    background-color: #472B34;
}

div.seatCharts-container {
    width: 330px;
    padding: 20px;
    float: left;
    padding-bottom: 20px;
}

#legend {
    text-align: left;
}

ul.seatCharts-legendList {
    padding-left: 0px;
}

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}

.submitButton {
    margin: 10px 0;
    font-size: 14px;
    background: #b71c1c linear-gradient(160deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%) repeat scroll 0 0;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.cancelButton {
    border: #bdbdbd 1px solid;
    color: #616161;
    display: block;
    text-decoration: none;
}

.l-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 0;
    padding-top: 0;
    width: 99%;
    border-radius: 10px;
}

#selected-seats {
    height: 140px;
    overflow-y: scroll;
    overflow-x: none;
    width: 99%;
}

#seat-map {
    width: 360px;
}

div.seatCharts-space {
    display: none;
}

.buyInfo__header {
    background: #eee;
    font-size: 20px;
    padding: 10px;
}

.buyInfo__subtitle {
    font-size: 16px;
    color: #adadad;
    padding: 0px 0px 10px 5px;
}

.buyInfo__text {
    font-size: 18px;
    margin: 0;
    text-align: left;
    padding: 0px 0px 10px 5px;
}

.seatType {
    width: 110%;
    clear: left;
    margin: 0 auto;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 5px 0 10px;
    margin-bottom: 20px;
}

.seatType ul {
    text-align: left;
    list-style-type: none;
}

.seatType li {
    float: left;
    width: 90px;
    overflow: hidden;
}

.seatType__reserved,
.seatType__vacancy,
.seatType__selected {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    float: left;
    clear: left;
    margin-top: 14px;
    margin-right: 10px;
}

.seatType__reserved {
    background: #472b34;

}

.seatType__vacancy {
    background: #b9dea0;
}

.seatType__selected {
    background: #e6cac4;
}

.ruleText {
    text-align: left;
    width: 920px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    font-size: 12px;
    height: 132px;
    overflow: auto;
    padding: 15px;
    margin:  15px 0;
}
